<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Reseña</title>
</head>
<body>
    <h1>Agregar Reseña</h1>
    <form action="/resena" method="post">
        <label for="productoID">ID del Producto:</label>
        <input type="text" id="productoID" name="productoID"><br>

        <label for="usuarioID">ID del Usuario:</label>
        <input type="text" id="usuarioID" name="usuarioID"><br>

        <label for="calificacion">Calificación:</label>
        <input type="text" id="calificacion" name="calificacion"><br>

        <label for="comentario">Comentario:</label>
        <input type="text" id="comentario" name="comentario"><br>

        <input type="submit" value="Agregar Reseña">
    </form>
</body>
</html>
